
.App {
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center;
}
.stopwatch{
  align-items: center;
  background-color: black;
  border-radius: 14px;
  width: 400px;
  height: 300px;
}
.digit{
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 45px;
  color: brown;
  font-weight: bold;
}
.button{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.btn{
 padding: 5px;
 margin: 10px;
  color: white;
  border: 2px solid brown;
  background-color: rgba(177, 82, 82, 0.304);
  border-radius: 10px;
  font-size: 20px;
}